{% if site.github_user %}
<section>
  <div class="widget row">
    <h5>GitHub Repos</h5>
    <ul id="gh_repos">
      <li class="loading">Status updating...</li>
    </ul>
    {% if site.github_show_profile_link %}
    <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on GitHub
    {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
        github.showRepos({ user: "{{site.github_user}}", target: $("#gh_repos"), forks: false, count: 5});
    });
  </script>
</section>
{% endif %}
