{% if site.twitter_user %}
<section>
  <div class="widget row">
    <h5>Latest Tweets</h5>
    <ul id="tweets">
      <li class="loading">Status updating...</li>
    </ul>
    <script type="text/javascript">
      $(document).ready(function(){
        // getTwitterFeed("{{site.twitter_user}}", {{site.twitter_tweet_count}}, {{site.twitter_show_replies}});
      });
    </script>
    {% if site.twitter_follow_button %}
      <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
    {% else %}
      <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
    {% endif %}
  </div>
</section>
{% endif %}
