/*
* Scoove theme skin : blue
*/

a:hover,.entry-content a:hover,.post-meta a:hover,.post-author a:hover,.post-tags ul li a:hover { color: #6ec6ee; }
	
a.visiblelink {
	color:#6ec6ee;
	
}


a.visiblelink:hover {
	color:#6ec6ee;
	text-decoration:underline;
}


a.readmore {
	color:#6ec6ee;	
}

a.readmore:hover {
	text-decoration:underline;
}

a.gradientbtn {
    color: #fff;
}
	
.color-blue {
	color:#6ec6ee;
}

.blue {
	background:#6ec6ee;
}

/* search form */
#search-button {
	background:#6ec6ee;
	color:#fff;
	text-shadow:none;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right {
	position:relative;
	padding:15px;
	margin:30px 0 0 0;
	color:#fff;
	background:#6ec6ee; /* default background for browsers without gradient support */
	

	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#6ec6ee), to(#6ec6ee));
	background:-moz-linear-gradient(top, #6ec6ee, #6ec6ee);
	background:-o-linear-gradient(top, #6ec6ee, #6ec6ee);
}

.triangle-right  p {
	color:#fff;
	background:none;
	padding:0;
}


.triangle-right cite {
	color:#fff;
	text-align:right;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#6ec6ee), to(#6ec6ee));
	background:-moz-linear-gradient(top, #6ec6ee, #6ec6ee);
	background:-o-linear-gradient(top, #6ec6ee, #6ec6ee);
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#6ec6ee transparent; 
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	bottom:auto;
	right:auto;
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-color:#fff #6ec6ee;  /* #fff is same as wrapper background color */
}



/* header area */


header ul li.selected a{
	color:#6ec6ee;
}

header ul li.selected li a {
	border:none;	
}

header ul li:hover {

}

header ul li ul li:hover {
	border:none;	
}

header  ul li ul li a:hover,header  ul ul li a:hover {
	background:#6ec6ee;
}


/* content */


.pricing-table .special h2.title { color: #6ec6ee; }

.blogpost h5 a:hover {
	color:#6ec6ee;
}

/* blog */
.post-heading p.date { 
	background:#6ec6ee;
}

/*flexslider */
.flex-caption {
	border-bottom:5px solid #6ec6ee;
}


/* Toggle */

.style h6.title:hover {
	background: #6ec6ee;
}

.style h6.active span.title_content {
	background:#6ec6ee url(../../images/icons/minus.png) no-repeat 5px 9px;
	border:1px solid #6ec6ee;
}


/* accordion */
#accordion h6.current {
	background:#6ec6ee url(../../images/icons/minus.png) no-repeat 5px 9px;
}


/* effect */
.caption{
	background:#6ec6ee;
	color:#fff;
}

.pagination span a:hover span, .pagination a:active span, .pagination a.active span{
	color: #6ec6ee;
	border:1px solid #e9e9e9;	
	text-decoration: none;
}
a:hover span.prev-next{
	border: none;
	color: #6ec6ee;
}
