/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Site Styles
  #Typography
  #Links
  #Lists
  #Images
  #Buttons
  #Tabs
  #Forms
  #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Basic Styles
================================================== */
  body {
    background: #fff;
    font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575757;
    line-height:1.5em;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6, .intro ul#fade li{
    color: #4d4d4d;
margin:0; padding:0; font-family: "Helvetica Neue",Arial,sans-serif; font-weight:bold;text-transform:uppercase; 
line-height:1.5em;
    
    }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1                  { margin:0 0 10px 0; padding:0; font-size:24px; color:#4d4d4d;  }
  h2                  { margin:0 0 10px 0; padding:0; font-size:20px; color:#4d4d4d;}
  h3                  { margin:0 0 10px 0; padding:0; font-size:16px; color:#4d4d4d;  }
  h4                  { margin:0 0 10px 0; padding:0; font-size:14px; color:#4d4d4d; }
  h5                  { margin:0 0 10px 0; padding:0; font-size:13px; color:#4d4d4d; }
  h6                  { margin:0 0 10px 0; padding:0; font-size:12px; color:#4d4d4d;  }
  
  
  .intro h2, header h6 {
    font-weight:normal;
    
  }
  
  .subheader { color: #777; }

  p { line-height:1.5em; margin: 0 0 10px 0; }
  p img { margin: 0; }
  p.lead { font-size: 21px; line-height: 27px; color: #777;  }

  em { font-style: italic; }
  strong { font-weight: bold;}
  footer strong { color:#fff; }
  .italic {
    font-family:Georgia, Arial, sans-serif;
    font-style:italic;
    font-size:14px;
  }
  
  small { font-size: 80%; }

  
  .centered, .center { text-align:center; }
  
  .rightvert {
  border-right:1px solid #ccc;
  }

/*  Blockquotes  */
  blockquote, blockquote p { font-family:Georgia, Arial, sans-serif;font-size: 14px; line-height: 1.5em; color: #777; font-style: italic; }
  blockquote { margin: 0 0 0px; 
  
  }
  
  blockquote p {
  padding: 0 0 0 26px; 
  background:url(../images/icons/quote.png) no-repeat 0% 4px;
  }
  
  blockquote cite { display: block; font-size: 12px; color: #555; margin-left:26px;}
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555;  }
  
  blockquote.boxed {
    background:#fafafa;
    border:1px solid #ddd;
    padding:20px;
  }
  
  blockquote span {
  font-family:Arial, sans-serif;
  font-size:12px;
    font-style:normal;
  }
  
.left-pullquote {
  display:block;
  font-family:Georgia, Arial, sans-serif;font-size: 14px; line-height: 1.5em; color: #777; font-style: italic;
  border-left:2px solid #ddd;
  padding-left:10px;
}

.right-pullquote {
  display:block;
  font-family:Georgia, Arial, sans-serif;font-size: 14px; line-height: 1.5em; color: #777; font-style: italic;
  border-right:2px solid #ddd;
  padding-right:10px;
}


/*------------------- dropcap --------------------*/

h4.dropcap-title {
  line-height:46px;
}

.dropcap {
  display:block;
  float:left;
  font-size:26px;
  line-height:28px;
  margin:3px 15px 10px 0;
}
.dropcap-square {
  display:block;
  float:left;
  font-size:22px;
  line-height:40px;
  width:40px;
  height:40px;
  text-align: center;
  margin:3px 15px 10px 0;
}

.dropcap-circle {
  float:left;
    display: block;
  margin:3px 15px 10px 0;
  font-size:22px;
  line-height:40px;
    text-shadow: none;
    width:40px;
    text-align:center;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

.dropcap {
  color:#181818;
}

.dropcap-square {
  background:#181818;
  color:#fafafa;
}

.dropcap-circle {
  background:#181818;
  color:#fafafa;
}

  hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/*------------------- preformated text, code --------------------*/
code, pre {
  border:1px solid #ddd;
    background:#fefefe;
    padding:7px 10px;
  font-size:11px;
    display:block;
    color:#858585;
    margin-bottom:10px;
  border-left:5px solid #ddd;
  overflow:hidden;
}


/* #Links
================================================== */
  a, a:visited { outline: 0; }
  
  a { text-decoration:none; color:#4d4d4d; }

  p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
  ul, ol { margin-bottom: 10px; }
  ul { list-style: none outside; }
  ol { list-style: decimal; }
  ol, ul.square, ul.circle, ul.disc { margin-left: 15px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 0 0 5px 30px;  }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 1.5em; margin-bottom: 10px; }
  ul.large li { line-height: 21px; }
  li p { line-height: 1.5em; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
    height: auto; 
    margin-bottom:10px;
    }

  img.thumb {
    margin-bottom:10px;
    }

/* #Forms
================================================== */

  form {
 }
  fieldset {
    margin-bottom: 20px; }
  input[type="text"],
  input[type="url"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 5px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 12px Arial, sans-serif;
    color: #444444;
    margin: 0;
    width: auto;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }

  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
  textarea {
    min-height: 60px; }
  label,
  legend {
    display: block;
    font-weight: bold;
    font-size: 12px;  
    margin-bottom:10px;
    }
  select {
    width: 220px; }
  input[type="checkbox"] {
    display: inline; }
  label span,
  legend span {
    font-weight: normal;
    font-size: 12px;
    color: #444; }

/* form Buttons */

  a.button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 50%, #fcfcfc 51%, #f5f5f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fcfcfc), color-stop(51%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#fcfcfc 51%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#fcfcfc 51%,#f5f5f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#fcfcfc 51%,#f5f5f5 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#fcfcfc 51%,#f5f5f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 4px 12px;
    color: #444;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-family: Arial, sans-serif; }

  a.button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    color: #fff;
    background: #474747;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
    border: 1px solid #292929;
    text-shadow:none;
    }

  a.button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    border: 1px solid #666;
    background: #474747;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#474747',GradientType=0 ); /* IE6-9 */


  button.full-width,
  input[type="submit"].full-width,
  input[type="reset"].full-width,
  input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }
    
    


/* Highlighted text with colors */

.highlight-blue {
  padding:2px 6px;
  color:#fff;
    background-color: #00ccff;
}



/* #Misc
================================================== */
  .remove-bottom { margin-bottom: 0 !important; }
  .half-bottom { margin-bottom: 10px !important; }
  .add-bottom { margin-bottom: 20px !important; }
  .align-right { text-align:right; }
  .right { float:right; }
  .left { float:left; }


