 <div class="container">
    <div class="row clearfix">
      <hdgroup>
        <div class="four columns">
          <div class="logo">
            <img src="{{ root_url }}/images/logo.png" alt="" />
            <h2>Rants &amp; ramblings</h2>
          </div>  
        </div>
      </hdgroup>
      <nav role="navigation">{% include navigation.html %}</nav>

    </div>
  </div>  
<!-- <hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
 -->